@model Underprepaired.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section id="about" class="projects-section text-center">
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <button type="submit">Login!</button>
            </form>
            <a href="/account/register">Not registered yet? Click here to get started.</a>
            </div>
        </div>
        </section>
