@using Microsoft.AspNetCore.Identity
@using Underprepaired.Models
@inject SignInManager<ApplicationUser> SignInManager
@model dynamic


@{ decimal total = 0;}

<section id="about" class="projects-section text-center">
    <div class="w-50 pt-5 pb-5 container text-dark text-center bg-light">

            <h2 class="mb-5">Receipt</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td scope="row">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductID">
                                        @item.Product.Name
                                    </a>
                                </td>

                                <td scope="row">
                                    $@item.Product.Price
                                </td>

                                <td scope="row">
                                    @item.Quantity
                                </td>

                                <td class="font-weight-bold" scope="row">
                                    $@(item.Product.Price * item.Quantity)
                                </td>
                            </tr>
                            total += item.Product.Price * item.Quantity;
                        }
                    </tbody>
                </table>
            <h3 class="mt-5"> Grand Total: $@total </h3>
        </div>
</section>