
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>
<p>We specialize in giving you the yang to your yin. Come along and see if we can help you harmonize your sock drawer or find your lonely mitten's soulmate.</p>