@using Microsoft.AspNetCore.Identity
@using Underprepaired.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <p class="navbar-brand">UnderprePAIRed!</p>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button class="nav-item btn btn-link" type="submit">Logout</button>
        </form>
    </nav>
    <p>
        Welcome @User.Claims.First(name => name.Type == "FullName").Value!
    </p>
}
else
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h1 class="navbar-brand">UnderprePAIRed!</h1>
        <a class="nav-item nav-link" href="/account/login">Login</a>
        <a class="nav-item nav-link" href="/account/register">Register</a>
    </nav>
    <p class="nav-item">You are not logged in!</p>
}

