
@{
    ViewData["Title"] = "Index";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Underprepaired</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">We specialize in giving you the yang to your yin. Come along and see if we can help you harmonize your sock drawer or find your lonely mitten's soulmate.</h2>
            <a href="/products" class="btn btn-primary js-scroll-trigger">Check out our Store</a>
        </div>
    </div>
</header>